<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="admin">
      <img src="assets/icon/calendar.svg" height="18" width="18">
      <ion-label>Zone Admin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tournoi">
      <img src="assets/icon/smallbeer.svg" height="18" width="18">
      <ion-label>Zone Tournoi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="infos" class="small">
      <img src="assets/icon/cog.svg" height="18" width="18">
      <ion-label>Infos Utiles</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
